    #card-component {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        grid-gap: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .card {
        box-sizing: border-box;
        box-shadow: rgba(94, 90, 90, 0.35) 0px 3px 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-prev {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
    .card-prev-img img {
        width: 80px;
    }
    
    .card-prev-word {
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .card-prev-word h4 {
        margin-bottom: 0px;
        font-size: 1.1em;
    }
    
    .card-prev-word p {
        margin-top: 2px;
        font-size: 0.9em;
    }
    
    button {
        margin-left: 22px;
        margin-bottom: 40px;
        background-color: rgb(9, 61, 129);
        padding: 5px 4px !important;
        color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: none;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 30%;
        font-size: 0.8em !important;
        transition: ease 1s;
        -webkit-transition: ease 1s;
        -moz-transition: ease 1s;
        -ms-transition: ease 1s;
        -o-transition: ease 1s;
    }
    
    button:hover {
        background-color: white;
        color: rgb(9, 61, 129);
        cursor: pointer;
        border: 1px solid rgb(9, 61, 129);
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
    }
    
    @media screen and (max-width: 1000px) {
        .new-image {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .new-image img {
            width: 180px;
            height: 200px;
        }
    }