<div id="card-component">
    <div *ngFor="let user of users" class="card">
        <div class="card-prev">
            <div class="card-prev-img">
                <img src="https://robohash.org/{{user.username}}?size=200x200&set=set3" alt="">
            </div>
            <div class="card-prev-word">
                <h4>{{ user.name }}</h4>
                <p>{{ user.email }}</p>
            </div>
        </div>
        <button [routerLink]="['/users', user.id]">View Details</button>
    </div>
</div>    