                #user-preview {
                    color: black;
                }
                
                h4,
                h5,
                h6 {
                    font-weight: 450;
                    font-size: 1.1em;
                    color: rgb(9, 61, 129);
                }
                
                p {
                    font-weight: 300;
                    font-size: 0.8em;
                    margin: 2px;
                }
                
                .profile-container {
                    position: relative;
                }
                
                .cover-photo {
                    min-height: 200px;
                }
                
                .cover-photo img {
                    width: 100%;
                    height: 200px;
                }
                
                .profile-picture {
                    position: absolute;
                    top: 90px;
                    left: 100px;
                    z-index: 2;
                    border: 5px solid rgb(9, 61, 129);
                    border-radius: 50%;
                    background: rgb(164, 193, 221);
                }
                
                .profile-picture img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }
                
                #user-details {
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                
                .robot-details {
                    border: 1px solid rgb(218, 210, 210);
                    padding-bottom: 100px;
                }
                
                .user-robot {
                    padding-bottom: 30px;
                    border-bottom: 1px solid rgb(218, 210, 210);
                    padding-top: 80px;
                    padding-left: 125px;
                }
                
                .comp-details {
                    padding-top: 40px;
                    padding-left: 50px;
                }
                
                .comp {
                    display: flex;
                }
                
                .comp-details img {
                    width: 60px;
                    height: 80px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                
                .other-details {
                    padding-top: 60px;
                    padding-left: 35px;
                }
                
                .about {
                    width: 70%;
                }
                
                .contact {
                    padding-top: 40px;
                }
                
                @media screen and (max-width: 720px) {
                    .profile-picture {
                        position: absolute;
                        top: 140px;
                        left: 50px;
                        z-index: 2;
                        border: 5px solid rgb(9, 61, 129);
                        border-radius: 50%;
                        background: rgb(164, 193, 221);
                    }
                    .user-robot {
                        padding-bottom: 30px;
                        border-bottom: 1px solid rgb(218, 210, 210);
                        padding-top: 80px;
                        padding-left: 65px;
                    }
                    .profile-picture img {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                }
                
                @media screen and (max-width: 550px) {
                    #user-details {
                        margin: 0 auto;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .profile-picture {
                        position: absolute;
                        top: 90px;
                        left: 30%;
                        z-index: 2;
                        border: 5px solid rgb(9, 61, 129);
                        border-radius: 50%;
                        background: rgb(164, 193, 221);
                    }
                    .profile-picture img {
                        width: 180px;
                        height: 180px;
                        border-radius: 50%;
                    }
                    .user-robot {
                        padding-bottom: 30px;
                        border-bottom: 1px solid rgb(218, 210, 210);
                        padding-top: 100px;
                        padding-left: 180px;
                    }
                    .comp-details {
                        padding-top: 20px;
                        padding-left: 30px;
                    }
                    .robot-details {
                        padding-bottom: 30px;
                    }
                    .other-details {
                        padding-top: 20px;
                    }
                    .about {
                        width: 90%;
                    }
                    .contact {
                        padding-top: 20px;
                        padding-bottom: 30px;
                    }
                }