<app-nav>
</app-nav>
<div id="user-preview">
    <div class="profile-container">
        <div class="cover-photo">
            <img src="assets/earth.jpg" alt="cover photo">
        </div>
        <div class="profile-picture">
            <img src="https://robohash.org/{{user?.username}}?size=200x200&set=set3" alt="Profile Picture ">
        </div>

    </div>
    <div *ngIf="user " id="user-details">
        <div class="robot-details">
            <div class="user-robot">
                <h5>{{ user.name }}</h5>
                <p>Username : {{ user.username }}</p>
                <p><i class="fa-solid fa-link"></i> {{ user.website }}</p>
            </div>
            <div class="comp-details">
                <h6 class="mb-4">Company</h6>
                <div class="comp">
                    <div class="comp-img"><img src="assets/company.jpg" alt=""></div>
                    <div class="comp-word px-2">
                        <p class="fw-bolder">{{ user.company.name }}</p>
                        <p><em>{{ user.company.catchPhrase }}</em></p>
                        <p>Senior Software Engineer</p>
                    </div>
                </div>
                <p class="mt-4 fw-bolder">About Company</p>
                <p class="me-5">{{companies[userId-1]}}</p>
            </div>
        </div>
        <div class="other-details">
            <div class="about">
                <h6>About</h6>
                <p>{{profiles[userId-1]}}</p>
                `` </div>
            <div class="contact">
                <h6>Contact Info</h6>
                <p> {{ user.address.street }}, {{ user.address.suite }}, <br/> {{ user.address.city }}, {{ user.address.zipcode }}
                </p>
                <p> {{ user.email }}
                </p>
                <p> {{ user.phone }}
                </p>
            </div>
        </div>

    </div>
</div>