.user-list {
    width: 90%;
    margin: 0 auto;
}

.user-list h2 {
    margin-bottom: 10px;
}

.search {
    margin-top: 0px;
    margin-bottom: 20px;
}

.search input {
    width: 40%;
    padding: 10px;
    border: 1px solid rgb(201, 195, 195);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
}

.fa-solid {
    background: rgb(231, 226, 226);
    padding: 7px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}