<app-nav></app-nav>
<div class="mt-5" id="home">
    <section id="hero">
        <div class="hero-image">
            <img src="assets/Robot.jpg" alt="fugot" />
        </div>
        <div class="hero-word">
            <h4>YOU'RE FINALLY HERE!</h4>
            <h2>WELCOME TO ROBOTFRIENDS!</h2>
            <h5>HIRE THE BEST ROBOT ENGINEERS.</h5>
            <p>Tired of giving engineers payed leave, just 8 working hours in a whole day, health insurance, and all that jazz. Well, you're in luck Mr Hiring Manager, ROBOTFRIENDS is your onestop shop to the best robot engineers. They don't get sick, they
                don't sleep, or go on leave. Just code, code, code, all the time for the most competitive price on the market!</p>
            <p class="hire" (click)="navigateToUsers($event)">Hire me <i class="fa-solid fa-arrow-right"></i></p>
        </div>
    </section>
    <section id="course">
        <h4 class="mb-4">KEY COMPETENCIES</h4>
        <div class="course-cards">
            <div *ngFor="let course of courses" class="card">
                <i class="fa-solid {{course.svg}}"></i>
                <h6>{{course.title}}</h6>
                <p>{{course.content}}</p>
            </div>
        </div>
    </section>
</div>