    .hero-image img {
        width: 280px;
        height: 420px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    #hero {
        display: flex;
    }
    
    #home {
        width: 85%;
        margin: 0 auto;
        color: black;
    }
    
    .hero-word {
        padding-left: 40px;
        padding-right: 350px;
        padding-top: 90px;
    }
    
    h4,
    h5 {
        font-weight: 450;
        font-size: 1.1em;
    }
    
    p {
        font-weight: 300;
        font-size: 0.8em;
    }
    
    .hire {
        font-weight: 400;
        font-size: 0.9em;
        color: rgb(9, 61, 129);
        transition: ease 1s;
        -webkit-transition: ease 1s;
        -moz-transition: ease 1s;
        -ms-transition: ease 1s;
        -o-transition: ease 1s;
    }
    
    .hire:hover {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        cursor: pointer;
    }
    
    #course {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    
    .course-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    
    .card {
        border: 1px solid rgb(171, 191, 216);
        padding: 40px 20px 20px 20px;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s
    }
    
    .fa-solid {
        padding-bottom: 20px;
    }
    
    .card:hover {
        background: rgb(9, 61, 129);
        color: white;
        transform: translateY(-5px);
        cursor: pointer;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }
    
    #course h4 {
        text-decoration: underline 2px;
    }